{% extends "skill_selector.html" %}

{% block title %}Armor Proficiencies{% endblock %}
{% block header %}Armor Proficiencies{% endblock %}

{% block content %}
<div class="table">

    <div class="row header">
        <span class="skill">Skill</span>
        <span class="quantity">Quantity</span>
        <span class="cost">Cost</span>
        <span class="action">Action</span>
    </div>

    <div class="row">
        <span class="skill">Armor Training: Light</span>
        <span class="quantity">1</span>
        <span class="cost">2</span>
        <span class="action">
            <button data-skill="Armor Training: Light" data-state="add" onclick="toggleSkill(this)">Add</button>
        </span>
    </div>

    <div class="row">
        <span class="skill">Armor Training: Heavy</span>
        <span class="quantity">1</span>
        <span class="cost">2</span>
        <span class="action">
            <button data-skill="Armor Training: Heavy" data-state="add" onclick="toggleSkill(this)">Add</button>
        </span>
    </div>

    <div class="row">
        <span class="skill">Shield Use</span>
        <span class="quantity">1</span>
        <span class="cost">6</span>
        <span class="action">
            <button data-skill="Armor Training: Heavy" data-state="add" onclick="toggleSkill(this)">Add</button>
        </span>
    </div>

    <div class="row">
        <span class="skill">Helmet Mastery</span>
        <span class="quantity">1</span>
        <span class="cost">2</span>
        <span class="action">
            <button data-skill="Armor Training: Heavy" data-state="add" onclick="toggleSkill(this)">Add</button>
        </span>
    </div>


</div>
{% endblock %}