<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Creator</title>

    <style>
        body {
            height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, sans-serif;
        }

        button {
            font-size: 28px;
            padding: 20px 60px;
            cursor: pointer;
            border-radius: 8px;
        }
    </style>
</head>

<body>
    <form action="{{ url_for('google_login') }}" method="get">
        <button type="submit">Connect Google Account</button>
    </form>

    <!---
    <form action="{{ url_for('start_respec') }}" method="get">
        <button type="submit">Respec</button>
    </form>
    --->

    <!--- Azzy wanted this removed. Alt stuff coming soon ig, take it up with her
    <form action="{{ url_for('alt_char_landing') }}" method="get">
        <button type="submit">Alt Character</button>
    </form>
    --->
</body>
</html>